/* ==========================================================================
	 primary styles -- small device
   ========================================================================== */

@use 'base/resets';

@use 'abstracts/variables' as v;

@use 'base/typography';

body {
	min-height: 100vh;
	font-weight: 400;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	padding: 2rem 1rem;
	background-color: v.$grey-light;
}

main {
	display: grid;
	grid-column: 1fr;
	grid-gap: 1.9rem;
}

h1 {
	font-weight: 500;
	font-size: 2.8rem;
	line-height: .85em;
	margin-bottom: .5em;

	.highlight {
		color: v.$yellow-dark;
	}
}

h1.text-inverse {
	margin-bottom: 0rem;
	line-height: .95em;
}

h2 {
	font-weight: 500;
	font-size: 2rem;
	letter-spacing: -.05em;
	line-height: .9em;
}

h3 {
	font-weight: 500;
	font-size: 1.6rem;
	letter-spacing: -.05em;
	line-height: 1em;
}

/* ********************************************
# card cells
******************************************** */

.card {
	padding: 1rem 1rem;
	border-radius: .5rem;
	display: grid;
	grid-gap: .9rem;

	&.var-1 {
		background-color: v.$purple-dark;
		justify-items: center;
		text-align: center;

		&.spot {
			padding: 2.5rem 1rem;
			grid-gap: 1.5rem;
		}
		&.graph {
			padding: 1.5rem 1rem;
		}
	}

	&.var-2 {
		background-color: v.$purple-light;
		justify-items: center;
		padding: 2rem 1rem;
	}
	&.var-3 {
		background-color: v.$yellow-dark;
		justify-items: left;
	}
	&.var-4 {
		background-color: v.$yellow-light;
	}
	&.var-5 {
		background-color: v.$white;
	}
}

/* ********************************************
# image placement
******************************************** */

.card.var-1.spot img {
	max-width: 60%;
}

.card.var-1.graph img {
	max-width: 74%;
	margin-bottom: 1rem;
}

.card.var-2 img {
	margin: .5rem 0 .3rem;
}

.card.var-3 img {
	max-width: 65%;
	align-self: left;
}

.card.var-3.clipped {
	max-height: 13.6rem;
	overflow-y: clip;
}

.card.var-4 img {
	max-width: 60%;
	align-self: left;
}

.card.var-5 img {
	max-width: 58%;
	padding: .5rem;
	align-self: left;
}

.card.graded {
	background: radial-gradient(v.$grey-v-light, v.$white);
	box-shadow: inset 0rem 1rem 3rem v.$white;
	padding: 1rem 1rem;
	img {
		max-width: 100%;
	}
}

