/* ==========================================================================
	 primary styles -- small device
   ========================================================================== */

@use 'base/resets';

@use 'abstracts/variables' as v;

@use 'base/typography';

body {
	min-height: 100vh;
	font-weight: 400;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	padding: 1rem;
}

h1 {
	font-weight: 500;
	font-size: 2rem;
}

h2 {
	font-weight: 400;
	font-size: 1.5rem;
}

.card {
	margin-bottom: 1.5rem;
	border: 1px solid black;
}

.attribution {
	font-size: 11px; text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}

