/* ==========================================================================
	 primary styles -- small device
   ========================================================================== */

@use 'base/resets';

@use 'abstracts/variables' as v;

@use 'base/typography';

body {
	min-height: 100vh;
	font-weight: 400;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}

.attribution {
	font-size: 11px; text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}

