/* ==========================================================================
   Media Queries for Responsive Design.
   These override the primary ('mobile first') styles.
   ========================================================================== */

@use '../abstracts/_variables' as v;

@media only screen and (min-width: 40rem) {
	/* Style adjustments for viewports that meet the condition */

// get rid of this when done    ---------------------
// 	*, *::before, *::after {
// 		outline: 2px solid lime;
// 		background: hsl( 120 100% 50% / .1 );
// 	}


	main {
 		height: 80vh;		// need to work this out
		max-width: 70rem;
		margin: 0 auto;
		display: grid;
		grid-gap: 1.9rem;
		grid-template-columns: repeat(4, 1fr);
// 		grid-template-rows: repeat(10, 1fr);
		grid-template-areas:
			"a c c h"
			"a c c h"
			"a c c h"
			"a c c h"
			"a d f h"
			"b d f h"
			"b d f h"
			"b e g g"
			"b e g g"
			"b e g g";
	}

	.card {
		padding: 1.5rem 1rem 1rem;
	}

	.card.var4 {
		grid-area: a;
	}
	.card.AI {
		grid-area: b;
	}
	.card.spot {
		grid-area: c;
	}
	.card.graded {
		grid-area: d;
	}
	.card.xl {
		grid-area: e;
	}
	.card.clipped {
		grid-area: f;
	}
	.card.grow {
		grid-area: g;
	}
	.card.schedule {
		grid-area: h;
	}

	// bottom left card
	.card.var3.AI img {
		max-width: 100%;
	}

	// bottom right card
	.card.var1.grow img {
		max-width: 35%;
		display: block;
		float: left;
	}
	.card.var1.grow h2 {
		display: block;
// 		padding: 0rem 1.5rem;
		float: right;
		max-width: 19rem;
	}

	.card.var1.spot {
		padding: 4rem 1.9rem;
	}

	.card.var1.spot img {
		max-width: 40%;
	}

	.card.var3.clipped img {
		max-width: 100%;
	}

	.card.schedule img {
		width: 100%;
	}


	h1.text-inverse {
		font-weight: 500;
		font-size: 3.8rem;
		line-height: .9em;
		margin-bottom: 1.5rem;
		letter-spacing: -0.05em;
	}

}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

