/* ********************************************
# typography
******************************************** */
@use '../abstracts/variables' as v;

@font-face {
	font-family: 'DM Sans';
	font-weight: 400;
	src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-weight: 500;
	src: url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-weight: 500;
	font-style: italic;
	src: url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
}

.italic {
	font-style: italic;
}

.text-inverse {
	color: v.$white;
}