/* ********************************************
# typography
******************************************** */
@use '../abstracts/variables' as v;

@font-face {
	font-family: 'DM Sans';
	font-weight: 400;
	src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-weight: 500;
	src: url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-weight: 500;
	font-style: italic;
	src: url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
}

.card em {
	font-style: italic;
}

.xl {
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: -.05em;
}

.text-inverse {
	color: v.$white;
}