/* ********************************************
# typography
******************************************** */
@use '../abstracts/variables' as v;

@font-face {
	font-family: 'DM Sans';
	font-weight: 400;
	src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-weight: 500;
	src: url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Sans';
	font-weight: 500;
	font-style: italic;
	src: url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
}


p {
	line-height: 1em;
}

.card em {
	font-style: italic;
}

.card.var1.spot p {
	color: v.$yellow-v-light;
}

.card.var1.grow h2 {
	padding: 0rem 1.5rem;
}

.card.var2 p {
	text-align: center;
}

.xl {
	display: block;
	padding-bottom: .75rem;
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: -.05em;
}

.text-inverse {
	color: v.$white;
}

.card.var4 em {
	color: v.$purple-dark;
}

.attribution {
	font-size: 11px;
	text-align: center;
	padding-top: 1.5em;

	a {
		color: v.$purple-dark;
	}
}
