/* ********************************************
# variables
******************************************** */
// Primary colors

$purple-light: hsl(254, 88%, 90%);
$purple-dark: hsl(256, 67%, 59%);

$yellow-light: hsl(31, 66%, 93%);
$yellow-dark: hsl(39, 100%, 71%);

// Neutral colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);

$grey-light: hsl(0, 0%, 96%);

$grey-v-light: hsl(280, 57%, 99%);
